.card {
    position: relative;
    text-align: center;
    color: var(--text-medium);
    padding: 0 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__title {
    font-size: 24px;
}

.card__details {
    font-size: 17px;
    font-weight: 500;
}

.card__cost {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: var(--color-card-cost);
    color: var(--text-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-bottom-right-radius: 8px;
}
