.card {
  position: relative;
  text-align: center;
  color: var(--text-medium);
  padding: 0 40px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-card);
  border: 1px solid var(--basalt);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
}

.card__title {
  font-size: 24px;
  position: relative;
}

.card__title::before,
.card__title::after {
  position: absolute;
  content: '';
  top: 20px;
  transform: translateY(-50%);
  background-color: var(--text-medium);
  width: 30px;
  height: 1px;
}

.card__title::before {
  left: -45px;
}

.card__title::after {
  right: -45px;
}

.card__details {
  font-size: 17px;
  font-weight: 500;
}

.card__cost,
.card__count {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: var(--color-card-badge);
}

.card__cost {
  left: 0;
  border-bottom-right-radius: 8px;
}

.card__count {
  right: 0;
  border-bottom-left-radius: 8px;
}
