.card {
  position: relative;
  text-align: center;
  color: var(--text-medium);
  padding: 16px 36px;
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-card);
  border: 1px solid var(--basalt);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  overflow: hidden;
  box-shadow: inset 0px 0px 20px 2px var(--stone);
}

.card__title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.card__title {
  font-size: 22px; /* 24px */
  white-space: nowrap;
}

.card__title-decoration {
  background-color: var(--text-medium);
  width: 30px;
  height: 1px;
  margin-top: 3px;
}

.card__details {
  font-size: 17px;
  font-weight: 500;
}

.card__cost,
.card__count {
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: var(--color-card-badge);
}

.card__cost {
  left: 0;
  border-bottom-right-radius: 8px;
}

.card__count {
  right: 0;
  border-bottom-left-radius: 8px;
}
