:root {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100svh;
}

button {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.app {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-app);
  color: var(--text-light);
}

.app__card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 108px;
  background-color: var(--stone);
  border-bottom: 2px solid var(--color-app);
  overflow: hidden;
}

.app__animation-container,
.app__ghost-card {
  position: absolute;
  width: calc(100% - 8px);
  height: 100px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  left: 0;
}

.app__animation-container {
  animation: showCard 0.5s ease-out;
  z-index: 1;
}

@keyframes showCard {
  0% {
    bottom: -110px;
    transform: translateX(var(--offset-x)) translateY(var(--offset-y))
      rotate(var(--rotate));
  }

  40% {
    transform: translateX(calc(var(--offset-x) * 0.6))
      translateY(calc(var(--offset-y) * 0.6)) rotate(calc(var(--rotate) * 0.6));
  }

  100% {
    bottom: 0;
    transform: translateX(0) translateY(0) rotate(0deg);
  }
}

.app__ghost-card {
  bottom: -1px;
  z-index: 0;
  animation: hideCard 0.4s ease-in forwards;
}

@keyframes hideCard {
  0% {
    bottom: 0;
  }

  100% {
    bottom: -110px;
  }
}

.app__error-message {
  position: absolute;
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
  z-index: 0;
}

.app__settings {
  flex-grow: 1;
  overflow-y: auto;
}
