:root {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100svh;
}

button {
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.app {
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-app);
  color: var(--text-light);
}

.app__card-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 108px;
  background-color: var(--stone);
  border-bottom: 2px solid var(--color-app);
  overflow: hidden;
}

.app__animation-container {
  position: absolute;
  width: calc(100% - 8px);
  height: 100px;
  margin-top: 8px;
  margin-left: 4px;
  margin-right: 4px;
  left: 0;
  animation: showCard 0.4s ease-out;
}

@keyframes showCard {
  0% {
    bottom: -110px;
  }

  100% {
    bottom: 0;
  }
}

.app__error-message {
  color: var(--text-dark);
  font-size: 20px;
  font-weight: 500;
}

.app__settings {
  flex-grow: 1;
  overflow-y: auto;
}
