:root {
  --sand: #e1d9c9;
  --stone: #ae9372;
  --coffee: #b27d57;
  --ochre: #7f4b30;
  --gum: #7d8769;
  --moss: #3a4722;
  --forest: #173125;
  --basalt: #212e40;

  --color-card: var(--sand);
  --color-card-badge: var(--basalt);
  --color-app: var(--forest);

  --text-light: var(--sand);
  --text-medium: var(--ochre);
  --text-dark: var(--basalt);

  --color-button-medium: var(--moss);
  --color-button-dark: var(--forest);

  --color-switch-active: var(--coffee);
  --text-switch: var(--sand);

  --color-checkbox: var(--sand);
  --color-checkbox-icon: var(--basalt);
}
